<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Inverted Index Viewer</title>
<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<style>
    body {
        font-family: Arial, sans-serif;
        background-color:#FFF;
        font-size: 12px;
    }
    a{word-break: break-all;}
    .document {
        margin-left: 20px;
    }
    .container {
        display: grid;
        grid-template-columns: 300px auto auto 200px;
        grid-template-rows: 30px auto 30px;
        grid-template-areas: 
            "h h h h"
            "l c c r"
            "f f f f";
        height: 99vh;
        column-gap: 10px;
        row-gap: 10px;

    }
    .post {
        min-width: 100px;
        max-width:400px;
        border: 1px solid #000;
        margin-bottom:20px;
        padding: 10px;
        border-radius: 0px;
        background-color:#fff9c4;
    }
    .panel{
        overflow:scroll;
    }
    .post-content{
        overflow:scroll;
    }
</style>
</head>
<body>
<div id="app" class="container">
    <div style="grid-area:h; text-align:center">
        <big><strong>Inverted Index Viewer</strong></big>
    </div>
    <div class="panel" style="grid-area:l">
        <ul style="padding-inline-start: 0;">
            <li v-for="doc in displayedDocs" :key="doc.uri" class="document">
                <a :href="'#' + doc.uri"> [{{ '{{' }} doc.metadata['index']{{ '}}' }}] {{ '{{' }} doc.metadata['title'] {{ '}}' }}</a>
            </li>
        </ul>
    </div>
    
    <div class="panel" style="grid-area:c">
        <post
            v-for="doc in displayedDocs"
            :key="doc.uri"
            :uri="doc.uri"
            :content="doc.content"
            :metadata="doc.metadata"
        ></post>
    </div>

    <div class="panel" style="grid-area:r">
        <input type="text" v-model="tokenSearchQuery" placeholder="Search tokens"><br>
        <ul style="padding-inline-start: 0;">
            <li v-for="token in filteredTokens" :key="token">
            <label>
                <input
                type="checkbox"
                :value="token"
                v-model="selectedTokens"
                />
                {{ '{{' }} token {{ '}}' }}
            </label>
            </li>
        </ul>
    </div>
    
    <div class="panel" style="grid-area:f">
        <small>footer</small>
    </div>
</div>

<script>
    Vue.component('post', {
        props: ["uri", 'content', 'metadata'],
        template: `
        <div class="post" :id="uri">
            <big><b>[{{ '{{' }} metadata['index']{{ '}}' }}] {{ '{{' }} metadata['title'] {{ '}}' }}</b></big><br>
            <code>{{ '{{' }} uri {{ '}}' }}</code>
            <div v-html="content" class="post-content"></div>
            Tags:  <code v-for="tag in metadata['tags']"> #{{ '{{' }} tag {{ '}}' }}</code><br>
            ctime: {{ '{{' }} metadata['ctime'] {{ '}}' }}
        </div>
        `
    });

    new Vue({
        el: '#app',
        data: {
            invertedIndex: {
                {% for term, doc_ids in INVERTED_INDEX.items() -%}
                '{{term}}': [{% for doc_id in doc_ids -%}
                        "{{doc_id}}",
                    {%- endfor %}],
                {% endfor %}
            },
            documents :{
                // 'id1' : {title: 'Document 1', uri: "uri", content: "content"},
                {% for doc_id, itm in DOCUMENT_INDEX.items() -%}
                '{{doc_id}}': { title: "{{itm['title']}}", uri: "{{itm['uri']}}", metadata:{{itm['metadata']}},     content: `{{itm['content']}}` },
                {% endfor %}
            },
            selectedTokens: [],
            tokenSearchQuery: ''
        },

        computed: {
            tokens() {
              return Object.keys(this.invertedIndex);
            },
            filteredTokens() {
                const query = this.tokenSearchQuery.toLowerCase();
                const matched_tokens = this.tokens.filter(token => {
                    const queryWords = query.toLowerCase().split(' ');
                    return queryWords.some(word => token.toLowerCase().includes(word));
                });
                return Array.from(new Set([...matched_tokens, ...this.selectedTokens])).sort(); 
            },
            displayedDocs() {
                let docsSet = new Set(); // Using a Set to store unique documents
                if (this.selectedTokens.length === 0) {
                    Object.values(this.invertedIndex).flat().forEach(doc => docsSet.add(doc));
                } else {
                    this.selectedTokens.forEach(token => {
                        this.invertedIndex[token].forEach(doc_id => {
                            docsSet.add(doc_id);
                        });
                    });
                }

                let docs = Array.from(docsSet);

                function splitDigitsAndAlphabets(str) {
                  return str.match(/\d+|[a-zA-Z]+/g);
                }

                // Custom sort function for Zettelkasten IDs
                function customZettelkastenSort(a, b) {
                    const partsA = splitDigitsAndAlphabets(a);
                    const partsB = splitDigitsAndAlphabets(b);

                    for (let i = 0; i < Math.min(partsA.length, partsB.length); i++) {
                        const partA = partsA[i];
                        const partB = partsB[i];

                        // Compare numbers
                        if (!isNaN(partA) && !isNaN(partB)) {
                            const numA = parseInt(partA, 10);
                            const numB = parseInt(partB, 10);
                            if (numA !== numB) {
                                return numA - numB;
                            }
                        } else if (partA !== partB) {
                            return partA.localeCompare(partB);
                        }
                    }

                  return partsA.length - partsB.length;
                }

                let D = docs.sort(customZettelkastenSort).map(doc => this.documents[doc]).filter(Boolean);
                return D;
            }
        }
    });
</script>
</body>
</html>
